{% extends 'layout.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
	<div class="container p-3 text-center">
		<h2>Homepage</h2>
			<form action="/search" method="GET">
				<div class="form-group">
					{% if error %}
						<p class="error"><strong>Error: </strong>{{ error }}</p>
					{% endif %}
		    	<input class="form-control" name="book" type="search" placeholder="Search books by title, author or isbn">
		  	</div>
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
	<div>
{% endblock %}



